.Field {
    display: none;
    resize: none;
}

.canvasField {
    resize: none;
}


h1 {
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}